# Education ...

Project descriptions

## Step 1: Loading and exploring the dataset

In [19]:
import pandas as pd
# read in the mathematics dataset
maths_df = pd.read_csv("student-mat.csv", sep=";")
print(maths_df.head())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1  at_home     other ...
2     GP   F   15       U     LE3       T     1     1  at_home     other ...
3     GP   F   15       U     GT3       T     4     2   health  services ...
4     GP   F   16       U     GT3       T     3     3    other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

## Step 2: Pre-processing

In [13]:
# Check for missing values
print(maths_df.isnull().values.any())

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher ...
1     GP   F   17       U     GT3       T     1     1  at_home     other ...
2     GP   F   15       U     LE3       T     1     1  at_home     other ...
3     GP   F   15       U     GT3       T     4     2   health  services ...
4     GP   F   16       U     GT3       T     3     3    other     other ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]
False

G3 (final year grade) was calculated using G1 and G2 (1st and 2nd period grades). We will use G3 as the responce variable and later on as the class variable by converitng it to a discrete scale. Since G3 is correlated with G1 and G2, the period grade variables will not be used as predictors in this analysis.

## Step 3: Regression

In [54]:
#maths_df_cat = pd.get_dummies(maths_df)
maths_df = maths_df.drop(['G1', 'G2'], axis = 1)

In [55]:
maths_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,yes,no,5,4,2,1,2,5,10,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,yes,no,4,4,4,1,1,3,0,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,no,no,4,1,4,1,1,1,6,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,yes,no,4,2,2,1,1,1,0,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,yes,no,5,5,1,1,1,5,0,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,yes,no,3,3,3,1,2,2,0,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,yes,no,5,2,2,1,1,4,4,12
12,GP,M,15,U,LE3,T,4,4,health,services,...,yes,no,4,3,3,1,3,5,2,14
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,yes,no,5,4,3,1,2,3,2,11
14,GP,M,15,U,GT3,A,2,2,other,other,...,yes,yes,4,5,2,1,1,3,0,16
15,GP,F,16,U,GT3,T,4,4,health,other,...,yes,no,4,4,4,1,2,2,4,14
16,GP,F,16,U,GT3,T,4,4,services,services,...,yes,no,3,2,3,1,2,2,6,14
17,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,5,3,2,1,1,4,4,10
18,GP,M,17,U,GT3,T,3,2,services,services,...,yes,no,5,5,5,2,4,5,16,5
19,GP,M,16,U,LE3,T,4,3,health,other,...,yes,no,3,1,3,1,3,5,4,10
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,yes,no,4,4,1,1,1,1,0,15
21,GP,M,15,U,GT3,T,4,4,health,health,...,yes,no,5,4,2,1,1,5,0,15
22,GP,M,16,U,LE3,T,4,2,teacher,other,...,yes,no,4,5,1,1,3,5,2,16
23,GP,M,16,U,LE3,T,2,2,other,other,...,yes,no,5,4,4,2,4,5,0,12
24,GP,F,15,R,GT3,T,2,4,services,health,...,yes,no,4,3,2,1,1,5,2,8
25,GP,F,16,U,GT3,T,2,2,services,services,...,yes,no,1,2,2,1,3,5,14,8
26,GP,M,15,U,GT3,T,2,2,other,other,...,yes,no,4,2,2,1,2,5,2,11
27,GP,M,15,U,GT3,T,4,2,health,services,...,yes,no,2,2,4,2,4,1,4,15
28,GP,M,16,U,LE3,A,3,4,services,other,...,yes,no,5,3,3,1,1,5,4,11
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,yes,yes,4,4,5,5,5,5,16,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,18,R,GT3,T,1,3,at_home,other,...,no,no,3,3,4,2,4,3,4,10
366,MS,M,18,U,LE3,T,4,4,teacher,services,...,yes,yes,4,2,2,2,2,5,0,13
367,MS,F,17,R,GT3,T,1,1,other,services,...,yes,yes,5,2,1,1,2,1,0,0
368,MS,F,18,U,GT3,T,2,3,at_home,services,...,yes,yes,5,2,3,1,2,4,0,10
369,MS,F,18,R,GT3,T,4,4,other,teacher,...,yes,yes,3,2,2,4,2,5,10,11
370,MS,F,19,U,LE3,T,3,2,services,services,...,no,yes,3,2,2,1,1,3,4,9
371,MS,M,18,R,LE3,T,1,2,at_home,services,...,yes,yes,4,3,3,2,3,3,3,12
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,no,yes,3,4,3,1,1,3,8,11
373,MS,F,17,R,GT3,T,1,2,other,other,...,yes,no,3,5,5,1,3,1,14,5
374,MS,F,18,R,LE3,T,4,4,other,other,...,yes,no,5,4,4,1,1,1,0,19
375,MS,F,18,R,GT3,T,1,1,other,other,...,yes,no,4,3,2,1,2,4,2,10
376,MS,F,20,U,GT3,T,4,2,health,other,...,yes,yes,5,4,3,1,1,3,4,15
377,MS,F,18,R,LE3,T,4,4,teacher,services,...,yes,no,5,4,3,3,4,2,4,10
378,MS,F,18,U,GT3,T,3,3,other,other,...,yes,yes,4,1,3,1,2,1,0,15
379,MS,F,17,R,GT3,T,3,1,at_home,other,...,yes,no,4,5,4,2,3,1,17,10
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,yes,no,3,2,4,1,4,2,4,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,yes,yes,4,4,3,1,3,5,5,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,yes,no,4,4,3,1,1,3,2,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,no,no,4,3,2,1,3,5,0,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,no,no,5,4,3,4,3,3,14,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,no,no,5,3,3,1,3,4,2,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,yes,yes,4,4,3,2,2,5,7,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,yes,no,5,4,2,1,2,5,0,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,yes,no,4,3,4,1,1,1,0,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,no,1,1,1,1,1,5,0,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,no,5,5,4,4,5,4,11,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,yes,no,2,4,5,3,4,2,3,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,no,5,5,3,3,3,3,3,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,yes,no,4,4,1,3,4,5,0,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,yes,no,3,2,3,3,3,5,5,9

In [37]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
train_x, test_x, train_y, test_y = train_test_split(maths_df_cat.drop(['G3', 'G1', 'G2'], axis=1), maths_df_cat['G3'], test_size=0.2, random_state=42)
mod = linear_model.LinearRegression()
model = mod.fit(train_x, train_y)

In [42]:
pred = model.predict(test_x)

In [49]:
df = pd.DataFrame({'Actual': test_y, 'Predicted': pred})
from sklearn import metrics
import numpy as np

#df.head(25)

print('Mean Absolute Error:', metrics.mean_absolute_error(test_y, pred))  
print('Mean Squared Error:', metrics.mean_squared_error(test_y, pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_y, pred)))

print(np.mean(maths_df_cat["G3"]))

Mean Absolute Error: 3.3956716030458862
Mean Squared Error: 17.606221670591378
Root Mean Squared Error: 4.195976843428879
10.415189873417722

## Clustering